/******************************************************************
Site Name: David Azizi 
Author: Jordan Mirrer

Stylesheet: IE Fixes Stylesheet

Internet Explorer CSS Hacks.

******************************************************************/

#play-button{
	margin-top: 0px;
	padding-left: 100px;
} 