/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#home-banner{
	#home-boxes{
		padding-left: 110px;	
	}
}

#header-banner{
	#home-boxes{
		display: block;
	}
	#header-banner-text{
		padding-left: 0px;
	}
	
}

